.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensures it is above other elements */
}

.chatbot-icon {
    background-color: transparent; /* Make the background transparent */
    border: none;
    cursor: pointer;
    outline: none;
}

.chat-icon {
    width: 31px; 
    height: 31px;
    border: 5px solid #A01441;
    border-radius: 50%;
}

.chatbot-popup {
    position: fixed;
    bottom: 20px; /* Same as icon */
    right: 20px;
    width: 370px; /* Slightly wider */
    height: 500px; /* Slightly taller */
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden; /* Prevent overflow */
    display: flex;
    flex-direction: column;
    transform: translateY(100%); /* Start off-screen */
    opacity: 0; /* Start with no opacity */
    transition: transform 0.4s ease, opacity 0.4s ease; /* Smooth transition */
}

.chatbot-popup.open {
    transform: scaleY(1); 
    opacity: 1; 
    overflow:hidden;
}

.close-button {
    background-color: transparent; 
    border: none;
    color: #ff4d4d;
    font-size: 24px; 
    padding: 10px;
    cursor: pointer;
    align-self: flex-end; 
    transition: color 0.3s;
}

.close-button:hover {
    color: #ff1a1a; 
}

.chat-window {
    padding: 15px;
    flex-grow: 1; 
    overflow-y: auto; 
}
